.name_container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5.6rem;
    width: 100%;
}


.name_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.name_content h3 {
    font-size: 4rem;
    font-weight: 700;
    color: #333333;
    width: fit-content;
    margin: 0;
}

.name_content h1 {
    font-size: 7rem;
    color: #53ed6a;
    width: fit-content;
    margin: 0;
}
.job_role{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.role{
    font-size: 3rem;
    font-weight: 900;
    color: #716f6f;
}

.view_project {
    padding: 5rem;
}

.view_project a {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    padding: 1rem;
    font-size: 19px;
    border-radius: 4px;
}

.view_project a:hover {
    background-color: #ccc5c5;
}

.backslide{
    position: absolute;
    height: 50vh;
    white-space: nowrap;
    color: gray;
    opacity: 0.25;
    width: 50%;
    font-weight: bold;
    font-size: 3rem;
    z-index: -1000;
    text-transform: uppercase;
    
}
@media (max-width:700px) {
    .name_container{
        padding-bottom: 7.8rem;
        padding-top: 7rem;
    }
    .view_project{
       padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .name_content{
        text-align: center;
        padding-bottom: 2rem;
    }
    .name_content h3{
        font-size: 2rem;
    width: 100%;
    }
    .name_content h1{
        font-size: 5rem;
    }
    .backslide{
        display: none;
    }
    .role{
        font-size: 1.3rem;
    }
}