.learntech_container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7rem 0rem 0rem 0rem;
    gap: 1rem;

}
.learntech_container h1{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: #333333;
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.all_content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
}

  .motion_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
  }
 
  .sub_motion_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 8rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out 150ms;
    background-color: #fbf3f3;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 20vh;
  }
  
  .sub_motion_container:hover {
    transform: translateY(-1px) scale(1.1);
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .text-base {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: #333333;
  }
  
@media (max-width:700px) {
    .learntech_container {
        padding-top: 3rem;
    }
    .learntech_container h1{
        font-size: 1rem;
        margin: 0;
    }
    .all_content{
        flex-direction: column;
    }
    .sub_learntech_container{
        width: 100%;
    }
    
}